@use'../custom'as *;
@use '../components/mixins' as *;

.menu{
    @include bg-color;
    li{
        padding: 0 0.7rem;
        a{
            color:#FF0669 !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }

    
}