@use'../custom'as *;
@use '../components/mixins' as *;

.btn-rounded{
    @include media-breakpoint-down(sm){
        width: 100px;
       
    }
    position: relative;
    padding: 0.5375rem 0.9rem;
    font-weight: 700;
    margin: 0;
    color: $light;
    width: 100px;
    background-color: $primary;
    border: 0.05rem solid rgba($color: #FF0669, $alpha: 0.6);


    &:hover{
        @include bg-color;
        color: #000000;
        border: 0.05rem solid rgba($color: #313131, $alpha: 0.6);
    }
}

.btn-hire{
    @include media-breakpoint-down(sm){
        width:200px;
        font-size:14px;
    }
    position: relative;
    padding: 0.5375rem 0.9rem;
    font-weight: 700;
    margin: 0;
    color: $light;
    width: 300px;
    background-color: $primary;
    border: 0.05rem solid rgba($color: #FF0669, $alpha: 0.6);
    &:hover{
        @include bg-color;
        color: #000000;
        border: 0.05rem solid rgba($color: #313131, $alpha: 1.0);
    }
}
.btn-assess{
    @include media-breakpoint-down(sm){
        width:150px;
        font-size:15px;
    }
    position: relative;
    padding: 0.5375rem 0.9rem;
    font-weight: 700;
    margin: 0;
    color: $light;
    width: 300px;
    background-color: $primary;
    border: 0.05rem solid rgba($color: #FF0669, $alpha: 0.6);
    &:hover{
        @include bg-color;
        color: #000000;
        border: 0.05rem solid rgba($color: #313131, $alpha: 1.0);
    }
// .btn-subscribe{
//     color: $light;
// }
    }
